$color: #FF6833;

@mixin blancas{
  font-size: 25px;
  color: white;
}   


.titulos {
  color: $color; }

.textoGrande {
  font-size: 200%; }

.colorTabla {
  color: white; }

.parrafosBlancos {
  color: white; }

.tablaInicio {
  background-color: $color;
  border: 7px solid black;
  width: 90%;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin: auto; }

.pestañas {
  text-align: center; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 

      div {
      border: 5px solid black;
      width: 350px;
      height: 350px;
      margin: 35px;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat; }
      }

.europa {
  background-image: url(../img/europa.jpg); }

.america {
  background-image: url(../img/america.jpg); }

.africa {
  background-image: url(../img/africa.jpg); }

.asia {
  background-image: url(../img/asia.jpg); }

.oceania {
  background-image: url(../img/oceania.jpg); }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  margin: 60px; 
      div {
      border: 1px solid black;
      height: 200px;
      width: 350px;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;}
    }



.alemaniaFoto {
  background-image: url(../img/alemania.jpg); }

.belgicaFoto {
  background-image: url(../img/belgica.jpg); }

.españaFoto {
  background-image: url(../img/españa.jpg); }

.eeuuFoto {
  background-image: url(../img/eeuu.jpg); }

.brasilFoto {
  background-image: url(../img/brasil.jpg); }

.mexicoFoto {
  background-image: url(../img/mexico.jpg); }

.egiptoFoto {
  background-image: url(../img/egipto.jpg); }

.sudafricaFoto {
  background-image: url(../img/sudafrica.jpg); }

.japonFoto {
  background-image: url(../img/japon.jpg); }

.israelFoto {
  background-image: url(../img/israel.jpg); }

.singapurFoto {
  background-image: url(../img/singapur.jpg); }

.nzFoto {
  background-image: url(../img/nz.jpg); }

.australiaFoto {
  background-image: url(../img/australia.jpg); }

.colores {
  text-align: center; }

.alemania {
  color: white;
  background: linear-gradient(90deg, black 25%, #f50202 52%, #fffd00 76%); }

.belgica {
  color: black;
  background: black;
  background: linear-gradient(90deg, black 25%, #fffd00 53%, #f50202 76%); }

.españa {
  color: black;
  background: red;
  background: linear-gradient(90deg, red 16%, #fffd00 38%, #fffd00 59%, #f50202 82%); }

.estadosUnidos {
  color: white;
  background: #0024ff;
  background: linear-gradient(90deg, #0024ff 15%, #f50202 51%, white 78%, white 79%); }

.brasil {
  background: #00be29;
  background: linear-gradient(90deg, #00be29 20%, #f9fa10 68%); }

.mexico {
  background: #256733;
  background: linear-gradient(90deg, #256733 25%, #fafafa 49%, #ed0303 71%); }

.egipto {
  background: #ed0303;
  background: linear-gradient(90deg, #ed0303 24%, #fafafa 49%, black 75%); }

.sudafrica {
  color: white;
  background: black;
  background: linear-gradient(90deg, black 25%, #327525 84%, #eeec10 94%, #ed0303 95%, #160fe4 96%); }

.japon {
  color: white;
  background: white;
  background: linear-gradient(90deg, white 38%, #ed0303 53%, white 65%); }

.israel {
  color: black;
  background: #0322ed;
  background: linear-gradient(90deg, #0322ed 10%, white 22%, white 78%, #0322ed 96%); }

.singapur {
  color: black;
  background: #ed0303;
  background: linear-gradient(90deg, #ed0303 27%, white 53%); }

.australia {
  color: white;
  background: #0603ed;
  background: linear-gradient(90deg, #0603ed 7%, #ed0303 27%, white 38%, #0603ed 62%); }

.nuevaZelanda {
  color: white;
  background: #0603ed;
  background: linear-gradient(90deg, #0603ed 7%, #ed0303 27%, #0603ed 49%); }

.botones {
  background: $color;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px;
  width: 125px;
  text-align: center; }

.botonContinente {
  background: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  text-align: center; }

.footer{
  background-color: $color;
  width: 100%;
  height: 85px;
  margin-top:50px;

      div{
        text-align:center;
      }

      a{
        text-decoration: none;
        color: white;
       }
    }

.bienvenida{
  background-image: url(../img/paisaje.jpg);
   background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
       p{
        @include blancas
                 }
    }

.letras{
 @include blancas
           }

.margenesPaises {
  margin: 0px 80px;
  text-align: center;
  font-size: 20px;
}

.suizaFondo{
  margin-top: 15px;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  font-size: 150px;
  background-image: url(../img/suizafondo.jpg) ;
   background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.vivirensuiza{
  background-image: url(../img/vivirensuiza.jpg);
}


.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}

#titulos {
  color: #FF6833;
}